@font-face {
  font-family: "Capriola";
  src: url("../assets/fonts/Capriola.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Capriola", sans-serif;
}

.container{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10rem;
}

h1{
    font-size: 5rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

h3{
    margin-top: 1rem;
}
h4{
    margin-top: 0.5rem;
}

.membrii{
    display: flex;
    justify-content: center;
    align-items: center;
}

.membru{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.membru > img {
    width: auto;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}